In [1]:
pip install quandl

Requirement already satisfied: quandl in /srv/conda/envs/notebook/lib/python3.6/site-packages (3.6.0)
Requirement already satisfied: inflection>=0.3.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (0.5.1)
Requirement already satisfied: python-dateutil in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (2.8.1)
Requirement already satisfied: pandas>=0.14 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (1.1.3)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (8.6.0)
Requirement already satisfied: requests>=2.7.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (2.24.0)
Requirement already satisfied: numpy>=1.8 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from quandl) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas>=0.14->quandl) (2020.1)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import os
import quandl
import math
import numpy as np

auth_tok = "xxxxxxxxxxx"

df = quandl.get("WIKI/AAPL", trim_start = "2011-01-27", trim_end = "2021-01-25", authtoken=auth_tok)

In [3]:
df.head(n=10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2011-01-27,343.78,344.6928,342.831,343.21,10179500.0,0.0,1.0,44.180521,44.297829,44.058562,44.107269,71256500.0
2011-01-28,344.17,344.4000,333.528,336.10,21144900.0,0.0,1.0,44.230642,44.260200,42.862997,43.193534,148014300.0
2011-01-31,335.80,340.0400,334.300,339.32,13473100.0,0.0,1.0,43.154980,43.699879,42.962209,43.607349,94311700.0
2011-02-01,341.30,345.6500,340.980,345.03,15236900.0,0.0,1.0,43.861807,44.420843,43.820682,44.341164,106658300.0
2011-02-02,344.45,345.2500,343.550,344.32,9248400.0,0.0,1.0,44.266626,44.369437,44.150963,44.249919,64738800.0
2011-02-03,343.80,344.2400,338.550,343.44,14064200.0,0.0,1.0,44.183092,44.239638,43.508394,44.136827,98449400.0
2011-02-04,343.64,346.7000,343.510,346.50,11494300.0,0.0,1.0,44.162530,44.555782,44.145823,44.530079,80460100.0
2011-02-07,347.89,353.2500,347.640,351.88,17322200.0,0.0,1.0,44.708714,45.397548,44.676585,45.221484,121255400.0
2011-02-08,353.68,355.5200,352.150,355.20,13608600.0,0.0,1.0,45.452809,45.689275,45.256183,45.648151,95260200.0
2011-02-09,355.19,359.0000,354.870,358.16,17240900.0,0.0,1.0,45.646866,46.136504,45.605741,46.028552,120686300.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1801 entries, 2011-01-27 to 2018-03-27
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Open         1801 non-null   float64
 1   High         1801 non-null   float64
 2   Low          1801 non-null   float64
 3   Close        1801 non-null   float64
 4   Volume       1801 non-null   float64
 5   Ex-Dividend  1801 non-null   float64
 6   Split Ratio  1801 non-null   float64
 7   Adj. Open    1801 non-null   float64
 8   Adj. High    1801 non-null   float64
 9   Adj. Low     1801 non-null   float64
 10  Adj. Close   1801 non-null   float64
 11  Adj. Volume  1801 non-null   float64
dtypes: float64(12)
memory usage: 182.9 KB

In [5]:
df.dtypes

Open           float64
High           float64
Low            float64
Close          float64
Volume         float64
Ex-Dividend    float64
Split Ratio    float64
Adj. Open      float64
Adj. High      float64
Adj. Low       float64
Adj. Close     float64
Adj. Volume    float64
dtype: object

In [6]:
df = df[['Adj. High','Adj. Low','Adj. Open','Adj. Close','Adj. Volume']]

In [7]:
df['HL_PCT'] = (df['Adj. High']-df['Adj. Low'])/df['Adj. Close']*100.0
df['PCT_change'] = (df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100.0

In [8]:
df = df[['Adj. Close','PCT_change','HL_PCT','Adj. Volume']]

In [9]:
df.isnull().sum()

Adj. Close     0
PCT_change     0
HL_PCT         0
Adj. Volume    0
dtype: int64

In [10]:
df.tail()

            Adj. Close  PCT_change    HL_PCT  Adj. Volume
Date
2018-03-21     171.270   -2.153793  2.236235   35247358.0
2018-03-22     168.845   -0.679412  2.416417   41051076.0
2018-03-23     164.940   -2.048815  3.019280   40248954.0
2018-03-26     172.770    2.796454  3.854836   36272617.0
2018-03-27     168.340   -3.074620  4.888915   38962839.0

In [11]:
future = int(math.ceil(0.005 * len(df)))
df['label'] = df['Adj. Close'].shift(-future)

In [12]:
df.tail(n=10)

            Adj. Close  PCT_change    HL_PCT  Adj. Volume  label
Date
2018-03-14     178.440   -1.042591  1.518718   29075469.0    NaN
2018-03-15     178.650    0.084034  1.214610   22584565.0    NaN
2018-03-16     178.020   -0.352645  0.842602   36836456.0    NaN
2018-03-19     175.300   -1.139183  2.173417   32804695.0    NaN
2018-03-20     175.240    0.000000  1.061402   19314039.0    NaN
2018-03-21     171.270   -2.153793  2.236235   35247358.0    NaN
2018-03-22     168.845   -0.679412  2.416417   41051076.0    NaN
2018-03-23     164.940   -2.048815  3.019280   40248954.0    NaN
2018-03-26     172.770    2.796454  3.854836   36272617.0    NaN
2018-03-27     168.340   -3.074620  4.888915   38962839.0    NaN

In [13]:
df.dropna(inplace = True)

In [14]:
X = np.array(df.drop(['label'],1))
y = np.array(df['label'])

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit_transform(X)

In [16]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state= 42)

In [17]:
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()
model_lr.fit(X_train,y_train)
y_pred_value = model_lr.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error

#RMSE
print(np.sqrt(mean_squared_error(y_test,y_pred_value)))

4.469313047777107